.header {
	text-align: center;
	// border: 2px solid green;
	height: 100px;
	width: 50%;
	text-align: center;
	position: relative;
	left: 450px;
	color: blue;
	text-shadow: 2px 1px green;
}

.header2 {

	// border: 2px solid red;
	height: 60px;
	width: 20%;
	position: relative;
	top: 200px;
	color: blue;
	font-size: 16px;
	word-wrap: break-word;
	text-align: center;

}