.usedLetters {

	border: 2px solid green;
	height: 200px;
	width: 20%;
	background-color: lightblue;
	font-size: 20px;
	position: relative;
    bottom: 70px;    
    left: 200px;
    text-align: center;
    word-wrap: break-word;
    font-size: 28px;
    border-radius: 25px 25px;

  }
